button {
    color: white !important;
    background-color: #ffc107;
    border-style: none;
    border-radius: 12px;
    width: auto;
    cursor: pointer;
    padding: 0.32rem 1.6em 0.42rem 1.6rem !important;
}

button:hover {
    background-color: #e0aa06
}

.btn-large {
    padding-right: 3.2rem !important;
    padding-left: 3.2rem !important
}

.btn-small {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5
}

.button-default {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.button-default:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}