.map-large {
  width: 720px!important;
  height: 560px!important;
  height: auto;
}

@media screen and (max-width: 1220px) {
  .map-large {
  max-width: 1220px!important;
  width: 100%!important;
  }
}