.ymaps-2-1-79-map {
  width: 740px!important;
  height: 740px!important;
}

.ymaps-2-1-79-map .ymaps-2-1-79-i-ua_js_yes .ymaps-2-1-79-map-bg .ymaps-2-1-79-islets_map-lang-ru {
  width: 100%!important;
  height: 100%!important;
}