.home-page .home-footer-wrapper {
  height: 220px;
  background-color: #0a1a05 !important;
  // background-image: url("https://i.ibb.co/S6JMn3y/list-footer.png");
  // background-repeat: no-repeat;
  // background-position: left top;
  // background-size: 25%;
  color: fade(#fff, 65);
  font-size: 14px;
  //  .footer-wrapper-img {
  //   background: #404040 !important;
  //  } 
    .home-layout {
        padding: 72px 32px 0;
        .copy{
      color: fade(#fff, 43);
    }
  }
  .home-footer-nav-wrapper {
    margin: 48px auto 16px;
    > div {
      display: inline-block;
      padding: 0 36px;
      // border-right: 1px solid #fff;
      &:last-child {
        border-right: none;
      }
      a {
        display: block;
        color: fade(#fff, 65);
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  .logo{ margin-bottom: 5px; }
}